<section class="section follow" id="follow">
    <div class="container jrny-content">
        <h3 style="letter-spacing:3px;"> FOLLOW THE JOURNEY </h3>
        <div class="social-media">
            <a href="https://www.instagram.com/monsterpcs/"><img src="imgs/instaIcon.png"></a>
            <a href="https://github.com/Gesis101"><img src="imgs/gitIco.png"></a>
            <a href="https://www.linkedin.com/in/thabo-moyo"><img id="liIcon" src="imgs/linkedIN.png"></a>
            <a href="mailto:thabo.s.moyo@gmail.com"><img src="imgs/emailIcon.png"></a>
        </div>
        <div class="comingsoon">
            <h4>Coming soon...</h4>
            <a><img src="imgs/youtubeIcon.png"></a>
        </div>
    </div>
</section>

<!-- footer -->
<footer class="section">
    <p> &copy; Copyright Thabo Moyo</p>
</footer>




</body>

</html>