<header>
    <nav id="nav">
        <div class="nav-bar">
            <div class="svg1" id="svg1">
                <svg class="svg" id="svg" width="30" height="30">
                    <path d="M0,5 50,5" stroke="#d50000" stroke-width="3" />
                    <path d="M0,14 50,14" stroke="#d50000" stroke-width="3" />
                    <path d="M0,23 50,23" stroke="#d50000" stroke-width="3" />
                </svg>
            </div>
        </div>
        <ul id="mainNav">
            <li>
                <a href="index">Home</a>
            </li>
            <li>
                <a href="#about-me">About</a>
            </li>
            <li>
                <a href="#projects">Projects </a>
            </li>
            <li>
                <a href="#skills">Skills </a>
            </li>
            <li>
                <a href="contact">Contact</a>
            </li>

        </ul>
    </nav>
</header>