<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.min.js"></script>
    <link rel="icon" href="../imgs/thabo - Copy.JPG">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <title> Thabo Moyo</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <div class="svg1" id="svg1">
                    <svg class="svg" id="svg" width="30" height="30">
                        <path d="M0,5 50,5" stroke="#d50000" stroke-width="3" />
                        <path d="M0,14 50,14" stroke="#d50000" stroke-width="3" />
                        <path d="M0,23 50,23" stroke="#d50000" stroke-width="3" />
                    </svg>
                </div>
            </div>
            <ul id="mainNav">
                <li>
                    <a href="../../index.html">Home</a>
                </li>
                <li>
                    <a href="#about-me">About</a>
                </li>
                <li>
                    <a href="#">Projects </a>

                <li>
                    <a href="
                        #contact">Contact</a>
                </li>

            </ul>
        </nav>
    </header>

    <section style="height: 100vh; background: red; text-align: center; font-size: 300%; top: -10px;">
        <div style="padding-top: 20%;">
            <h1> PAGE CURRENTLY UNAVAILABLE</h1>

            <h4> Contact me through: thabo.s.moyo@gmail.com</h4>
        </div>


    </section>

    <section style="display: none;">
        <h1> Get in touch </h1>
        <h1> Or Follow my social media</h1>
        <div class="main-contact">
            <div class="form-main">
                <form id="form1" action="#">
                    <div class="form-inputs">
                        <label for="name">Name</label>
                        <input type="text" id="name">
                        <label for="email">Email</label>
                        <input type="email" id="email">
                        <label for="subjext">Subject</label>
                        <input type="text" id="subject">
                        <label for="textarea">Message</label>
                        <textarea rows="5" cols="30" name="message" form="form1" id="textarea">Enter message here *</textarea>
                        <button type="submit"> Submit</button>
                </form>
            </div>
        </div>

    </section>


</body>

</html>