html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0A0A0A;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;

    text-align: center;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/* --- Navigation bar -- */

nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 100%;
    transition: 0.5s;
    .nav-bar {
        width: 100%;
        box-shadow: none;
        
        padding: 0%;
        margin: 0;
        height: 10%;
    }

    .svg1 {
        display: flex;
        float: right;
        padding-right: 1rem;
        margin-top: .5rem;
        justify-self: center;
        
    }

    ul {
        width: 100%;
        height: 100%;
        display: none;
        grid-template-rows: repeat(4, 20);
        grid-template-columns: 100%;
        grid-gap: 2rem;
        justify-items: center;
        align-content: center;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 1rem;
        background: #57636D;
        box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0.75);
    }

    li {
        list-style: none;

    }

    a:hover {
        line-height: 1em;
        padding-bottom: 1rem;
        border-bottom: 2px solid #d50000;
        color: #d50000;
        transition: 0.6s;
    }

    a {
        text-decoration: none;
        color: inherit;
        margin: 0 auto;
    }
}

/* SHOWCASE */

.showcase {
    margin: 0 auto;
    padding: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.2497373949579832) 0%, rgba(0, 0, 0, 1) 100%),
        url('../../imgs/IMG_1069-2.jpg') no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: left;
    display: inline-grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    .showcase-greeting {
        display: grid;
        grid-template-rows: 1fr 35% auto 15%;
        grid-template-columns: 1fr;
        margin: .2rem;

        h2 {
            border-bottom: 2px solid #d50000;
            letter-spacing: 3px;
            height: 35%;
            width: 143.5px;
            font-weight: 400;
        }

        #showcase-content {
            margin-top: 10px;
        }

        #showcase-welcome {}

        #showcase-welcome,
        #showcase-welcome1 {
            font-weight: 300;
            bottom: 0;
            align-self: flex-end;
            justify-self: flex-end;
            text-transform: uppercase;
        }

        #showcase-me {
            font-weight: 100;
            letter-spacing: 1px;
        }

    }

    .showcase-down {
        align-self: center;
        justify-self: center;

        img {
            width: 5rem;
            height: 5rem;

        }

        img:hover,
        img:active {
            border-radius: 100%;
            background: rgba(251, 0, 0, 0.452);
            height: 20%;
            transition: 0.5s;
        }

    }
}

/* About me */
.aboutMe-wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: white;
}

.about-me {
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    display: grid;
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    grid-template-rows: 80px repeat(2, .2fr) 10px;
    grid-template-columns: 1fr;

    #about-pic {
        background: url('../../imgs/thabo\ -\ Copy.JPG')no-repeat center/cover;
        background-position: left 4px bottom 85%;
        margin: 0 auto;
        padding: 0;
        border: 3px solid black;
        border-radius: 50%;
        width: 160px;
        height: 160px;


    }

    h3 {
        padding-bottom: 1rem;
        width: 120px;
        justify-self: center;
        align-self: center;
    }

    p {
        padding: 1rem;
        letter-spacing: 0.5px;
    }

    button {
        width: 8rem;
        height: 3rem;
        padding: 0.5;
        margin-top: 2rem;
        text-align: center;
        border: 2px solid rgb(172, 18, 18);
        border-radius: 0.5rem;
        letter-spacing: 1.5px;
        color: white;
        background-color: rgb(0, 0, 0);
    }

}

//Skills over-view

.skills-wrapper {
    width: 100%;
    background: rgba(10, 10, 10, 1);
    position: relative;
}

.skills-overview {
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: grid;
    position: relative;
    grid-template-rows: 100px auto auto auto;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 1.5rem;
    justify-content: center;

    p {
        margin: 1rem;
        margin-bottom: 0;
    }

    .content{
        margin-bottom: 5rem;
    }
}

/* skill bars */
.spread-bar {
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    text-align: -o-left;
    text-align: -ms-left;
    margin: 0;
}

.spread-bar>p {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold;

}

#progress-bar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 100%;
    height: auto;
}

#progress-bar>div {
    background-color: #d50000;
    /* Adjust with JavaScript */
    height: 1rem;
    border-radius: 10px;

}

.js {
    text-align: -webkit-right;
    text-align: -moz-right;
    text-align: -o-right;
    text-align: -ms-right;
    text-align: right;

    color: white;
    padding-bottom: 5px;
    padding-right: 1rem;
    height: 100%;
}

.bar-3 {
    margin-bottom: 1rem;
}

.bar-1 #percent1 {
    width: 70%;
}

.bar-1 #percent2 {
    width: 60%;
}

.bar-1 #percent3 {
    width: 65%;
}

.bar-1 #percent4 {
    width: 40%;
}

/* Front-end */
.bar-2 #percent1 {
    width: 85%;
}

.bar-2 #percent2 {
    width: 70%;
}

.bar-2 #percent3 {
    width: 60%;
}

.bar-2 #percent4 {
    width: 80%;
}

/* Software development */
.bar-3 #percent1 {
    width: 55%;
}

.bar-3 #percent2 {
    width: 35%;
}

/* MY PROJECTS AREA */
.projects-wrapper {
    width: 100%;
    height: 120vh;
    background-color: #2f3640;
}

.projects {
    color: white;
    height: 100%;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(5, auto) 20%;
    grid-template-columns: 1fr;

    text-align: left;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    h3 {
        width: 45%;
    }

    .projects-share {
        text-align: center;
        justify-self: center;
        align-self: center;
        margin: 1rem;
        display: grid;
        grid-template-rows: auto 100%;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: flex-end;

        h3 {
            width: 150px;
            margin: 0 auto;
            justify-self: flex-start;
            align-self: flex-start;
            font-weight: 300;
            letter-spacing: 1px;

        }

        .pro-buttons {
            display: flex;

            button {
                top: 0;
                text-align: center;
                width: 5rem;
                margin: 1rem;
                height: 3rem;
                text-align: center;
                border: 2px solid rgb(15, 15, 15);
                border-radius: 0.5rem;
                letter-spacing: 1.5px;
                color: white;
                background-color: rgb(0, 0, 0);

                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }

    .projects-goals {
        h3 {
            width: 80%;
        }
    }

}


footer {
    height: 20vh;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 40 80px 60px 100px;
    grid-template-columns: 1fr;

    .social-media {
        margin: 0 auto;

        img {
            width: 31px;
            height: 30px;
            margin: 1rem;
        }
    }

    .comingsoon {
        h4 {
            font-weight: 300;
        }

        img {
            width: 35px;
            height: 35px;
        }
    }

    .copyright {
        align-self: flex-end;
        background: inherit;
    }

}



/* Tools */
section {
    height: 100vh;
    width: 100%;

}

.content {
    margin-top: 1rem;
}

.h_underline {
    border-bottom: 2px solid #d50000;
}




/* MEDIA QUERIES ONLY! */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 3000px) {
    nav {
        padding: 0;
        margin: 0;
        background-color: transparent;
        margin-top: 10px;

        .nav-bar {
            display: none;
        }

        ul {
            background: transparent;
            display: flex;
            top: 0;
            width: 50%;
            margin-right: 0rem;
            list-style: none;
            box-shadow: none;
            color: white;

            li {
                padding: 0;
                text-align: right;
                float: right;
                margin: 0 auto;
                list-style: none;

            }

            a:hover {
                line-height: 1em;
                padding-bottom: 1rem;
                border-bottom: 2px solid #d50000;
                color: #d50000;
                transition: 0.6s;
            }

        }

    }

    #mainNav {
        margin-right: 2.5rem;

        a {
            font-size: 15pt;
        }

        li {
            padding: 1rem;
        }
    }

    .showcase-greeting {
        font-size: 200%;
        padding-left: 20%;

        #showcase-welcome2 {
            font-size: 145%;
            height: 35%;
            width: 33%;
        }

        #showcase-me {
            font-size: 70%;
        }
    }

    .aboutMe-wrapper {
        height: 100%;

        .about-me {
            background-color: rgb(255, 255, 255);
            color: black;
            text-align: center;
            display: grid;
            position: relative;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            grid-template-rows: 80px 23% 1fr ;
            grid-template-columns: 1fr 1fr 1fr;

            h1 {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            #about-pic {
                background: url('../../imgs/thabo\ -\ Copy.JPG')no-repeat center/cover;
                background-position: left 4px bottom 85%;
                margin: 0 auto;
                padding: 0;
                border: 3px solid black;
                border-radius: 50%;
                width: 160px;
                height: 160px;
                grid-column-start: 1;
                grid-column-end: 4;



            }

            .about-descri {
                margin: 1rem;
                width: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
            }

            .t {
                grid-column-start: 1;
                grid-column-end: 4;
            }

        }
    }

    .skills-overview {
        width: 95%;
        margin: 0 auto;
        display: grid;
        position: relative;
        grid-template-rows: 100px auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0rem;
        justify-content: center;

        h1 {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .skill-descri {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        p {
            margin: 1rem;
            margin-bottom: 0;
        }
    }

    .content {
        width: auto;
        margin: .5rem;
    }


    .projects-wrapper {
        height: 100%;

        .projects * {
            text-align: left;
        }

        .projects {
            color: white;
            height: 100%;
            width: 95%;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            h1 {
                grid-column-start: 1;
                grid-column-end: 5;
                justify-self: center;
            }

            .projects-share {
                grid-column-start: 1;
                grid-column-end: 5;
                justify-self: end;
                align-self: flex-end;
                width: 100%;
            }

            .pro-buttons {
                grid-column-start: 1;
                grid-column-end: 4;
                justify-self: center;
                align-self: center;
            }


            #git,
            #insta {
                width: 60%;
                height: 55px;
            }

            #git::before {
                content: "Github";

            }

            #insta::before {
                content: "Photography";
            }

        }
    }
}


@media (min-width: 1024px) and (max-width: 1281px) and (orientation: landscape){
    .aboutMe-wrapper{
        height: 100%;
    }

    .projects{
        height: 100%;
    }
   
}
@media (min-width: 1024px) and (max-width: 1281px) {

    //CSS
    nav {
        padding: 0;
        margin: 0;
        background-color: transparent;
        margin-top: 10px;

        .nav-bar {
            display: none;
        }

        ul {
            background: transparent;
            display: flex;
            top: 0;
            width: 50%;
            margin-right: 0rem;
            list-style: none;
            box-shadow: none;
            color: white;

            li {
                padding: 0;
                text-align: right;
                float: right;
                margin: 0 auto;
                list-style: none;

            }

        }

    }

    #mainNav {
        margin-right: 2.5rem;

        a {
            font-size: 15pt;
        }

        li {
            padding: 1rem;
        }
    }

    .showcase-greeting {
        font-size: 200%;
        padding-left: 20%;

        #showcase-welcome2 {
            font-size: 145%;
            height: 35%;
            width: 33%;
        }

        #showcase-me {
            font-size: 70%;
        }
    }

    .aboutMe-wrapper {
        height: 100%;

        .about-me {
            background-color: rgb(255, 255, 255);
            color: black;
            text-align: center;
            display: grid;
            position: relative;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            margin-bottom: 2rem;
            grid-template-rows: 80px 23% 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            h1 {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            #about-pic {
                background: url('../../imgs/thabo\ -\ Copy.JPG')no-repeat center/cover;
                background-position: left 4px bottom 85%;
                margin: 0 auto;
                padding: 0;
                border: 3px solid black;
                border-radius: 50%;
                width: 160px;
                height: 160px;
                grid-column-start: 1;
                grid-column-end: 4;



            }

            .about-descri {
                width: 100%;
                height: 100%;
                grid-column-start: 1;
                grid-column-end: 4;
                display: grid;
                grid-template-rows: 1fr;
                grid-template-columns: 1fr 1fr;
            }

            .t {
                grid-column-start: 1;
                grid-column-end: 4;
            }

        }
    }

    .skills-overview {
        width: 95%;
        margin: 0 auto;
        display: grid;
        position: relative;
        grid-template-rows: 100px auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0rem;
        justify-content: center;

        h1 {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .skill-descri {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        p {
            margin: 1rem;
            margin-bottom: 0;
        }
    }

    .content {
        width: auto;
        margin: .5rem;
        margin-bottom: 3rem;
    }



    .projects-wrapper {
        height: 100%;

        .projects {
            color: white;
            height: 100%;
            margin-bottom: 4rem;
            width: 90%;
            display: inline-grid;
            grid-template-rows: 22% 1fr 1fr;
            grid-template-columns: repeat(2, auto);

            h1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .projects-share {
                grid-column-start: 1;
                grid-column-end: 3;
                justify-self: end;
                align-self: flex-end;
                width: 100%;
            }

            .pro-buttons {
                grid-column-start: 1;
                grid-column-end: 4;
                justify-self: center;
                align-self: center;
            }


            #git,
            #insta {
                width: 60%;
                height: 55px;
            }

            #git::before {
                content: "Github";

            }

            #insta::before {
                content: "Photography";
            }
        }
    }


}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
@media (min-width: 768px) and (max-width: 1023px) {

    //CSS
    nav {
        padding: 0;
        margin: 0;
        background-color: transparent;
        margin-top: 10px;

        .nav-bar {
            display: none;
        }

        ul {
            background: transparent;
            display: flex;
            top: 0;
            width: 50%;
            margin-right: 0rem;
            list-style: none;
            box-shadow: none;
            color: white;

            li {
                padding: 0;
                text-align: right;
                float: right;
                margin: 0 auto;
                list-style: none;

            }

        }

    }

    .showcase-greeting {
        font-size: 150%;
        padding-left: 5%;

        #showcase-welcome2 {
            font-size: 120%;
            height: 28%;
            width: 30%;
        }

        #showcase-me {
            font-size: 80%;
        }
    }

    .skills-overview {
        width: 95%;
        margin: 0 auto;
        display: grid;
        position: relative;
        grid-template-rows: 100px auto 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 0rem;
        justify-content: center;

        h1 {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        .skill-descri {
            grid-column-start: 1;
            grid-column-end: 4;
        }

        p {
            margin: 1rem;
            margin-bottom: 0;
        }
    }

    .content {
        width: auto;
        margin: .5rem;
    }

    .aboutMe-wrapper{
        height: 100%;
    }

    .projects-wrapper {
        height: 100%;

        .projects {
            color: white;
            height: 100%;
            width: 90%;
            display: inline-grid;
            grid-template-rows: 22% 1fr 1fr;
            grid-template-columns: repeat(2, auto);

            h1 {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .projects-share {
                grid-column-start: 1;
                grid-column-end: 3;
                justify-self: end;
                align-self: flex-end;
                width: 100%;
            }

            .pro-buttons {
                grid-column-start: 1;
                grid-column-end: 4;
                justify-self: center;
                align-self: center;
            }


            #git,
            #insta {
                width: 60%;
                height: 55px;
            }

            #git::before {
                content: "Github";

            }

            #insta::before {
                content: "Photography";
            }
        }
    }

}

/* .links li a:hover {
    line-height: 1em;
    padding-bottom: 1rem;
    border-bottom: 2px solid #d50000;
    color: #d50000;
    transition: 0.6s;
} */

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1030px) and (orientation: landscape) {

    //CSS

    .projects-wrapper {
        height: 100%;
    }
    .projects{
        margin-bottom: 3rem;
    }
    .aboutMe-wrapper{
        height: 100%;
    }

    .about-me{
        height: 100%;
    }
}

@media only screen and (min-device-width: 300px) 
                   and (max-device-width: 800px) 
                   and (orientation: landscape) {

    .projects-wrapper{
        height: 100%;
    }
    .showcase{
        height: 100%;
    }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    //CSS

}

/* CONTACT PAGE */
