body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7903536414565826) 0%, rgba(0,0,0,1) 96%), url('../imgs/backgroundThabo.png');
  background-repeat: no-repeat;
  background-size: contain;
  color:white;
  width: 100%;
  height: 100%;
}
/* .bkgFilters{
  background-image: url('../imgs/backgroundFilter.png');
  background-repeat: no-repeat;

  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
} */
.wrapper{
    max-width: 960px;
    height: auto;
    margin: 0 auto;
}

/* Navigaton bar */
nav{
  position: fixed;
  display: flex;
  z-index: 99;

  width: 100%;
  top: 0px;
  left: 0px;

  background-color: #0A0A0A;
  box-shadow: 2px 4px 16px 0px black;
}
img{
  max-width: 100%;
  height: auto;
}
.links{
  z-index:9999;
  position: absolute;
  right: 10px;

}
ul{
  margin: 0;
}
li{
  list-style-type: none;

}

.links > ul > li{
  display: inline-block;
  border-style: none;
  margin-left: 20px;
}

#mainLogo{
  float: left;
}

/* HEADER */
div.navHeader{
  top: 200px;
  width: 100%;
  height: auto;
  position: relative;
}

.navHeader > h1 {
width: 100%
margin: 0 auto;
text-align: center;

}

/* SECTION */
section{
  position: relative; top: 300px;
  text-align: center;
}

.projects{
  max-width: 100%;
  display: flex;
  position: relative;

  margin-bottom: 50px;
}

.contact{
  position: relative;
  margin-top: 150px;
  bottom: 30px;
}

footer{
  width: 100%;
  position: absolute;
  height: auto;
  bottom: 0px;
  text-align: center;
  margin: 0 auto;
  background-color: #0A0A0A;
  box-shadow: 2px 4px 16px 0px black;
}
